@font-face {
    font-family: 'Perfect DOS VGA 437 Win';
    src: url('/fonts/dos.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --width: 820px;
    --font-main: 'Perfect DOS VGA 437 Win', sans-serif;
    --font-secondary: 'Perfect DOS VGA 437 Win', sans-serif;
    --font-scale: 1em;
    --background-color: #000000;
    --heading-color: #ffe97a;
    --text-color: #ffffff;
    --link-color: #ffffff;
    --visited-color: #ffffff;
    --main-color: #ffe97a;
    --code-background-color: #222222;
    --code-color: #f2f2f2;
    --blockquote-color: #f2f2f2;
}

::marker {
    content: ">_ ";
}

::selection {
    background-color: #999999;
    color: var(--text-color);
    text-shadow: none;
}

body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px;
    max-width: var(--width);
    text-align: left;
    text-shadow: 0 0 3px #999999;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1) 1px,
        transparent 1px,
        transparent 2px
    );
    pointer-events: none;
}

.centered {
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-main);
    color: var(--heading-color);
}

.color-white {
    color: var(--text-color);
}

.mt-2 {
    margin-top: 1.5em;
}

.mb-2 {
    margin-bottom: 1.5em;
}

a {
    color: var(--link-color);
    font-family: var(--font-main);
    cursor: url("/resources/cursor.cur") 12 0, pointer;
    text-decoration: none;
    border-bottom: 3px solid var(--main-color);
}

a.disabled {
    border-bottom: none;
}

a:not(.disabled):hover {
    background-color: var(--main-color);
    color: var(--background-color);
    text-decoration: none;
}

header {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 3px dotted var(--main-color);
}

nav a {
    margin-right: 8px;
    font-weight: medium;
    font-size: large;
}

a:not([id]):not([property]) {
    padding-top: 4px;
    padding-right: 1px;
    padding-left: 1px;
}

a:not([class]):not([id]):not([property]):before {
    content: "\00a0";
}

a:not([class]):not([id]):not([property]):after {
    content: "\00a0";
}

a:not([class]):not([id]):not([property]):hover:before {
    content: ">";
}

a:not([class]):not([id]):not([property]):hover:after {
    content: "<";
}

nav a:not([class]):not([id]):not([property]):hover:before {
    content: "[";
}

nav a:not([class]):not([id]):not([property]):hover:after {
    content: "]";
}

.selected:before {
    content: '>';
}

.selected:after {
    content: '<';
}

strong,
b {
    color: var(--text-color);
}

button {
    margin: 0;
    cursor: url("/resources/cursor.cur") 12 0, pointer;
}

main {
    line-height: 1.6;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
}

thead {
    color: var(--main-color);
}

hr {
    border: 0;
    border-top: 1px dashed;
}

img {
    max-width: 100%;
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
}

blockquote {
    border-left: 1px solid #999999;
    color: var(--code-color);
    padding-left: 20px;
    font-style: italic;
}

footer {
    margin-top: 40px;
    border-top: 3px dotted var(--main-color);
    padding: 25px 0;
}

.title:hover {
    text-decoration: none;
}

.title h1 {
    font-size: 1.5em;
}

.inline {
    width: auto !important;
}

.highlight,
.code {
    padding: 1px 15px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
}

ul:not([class]):not([id]):not([property]) {
    list-style-type: none;
    padding-left: 20px;
}

ul:not([class]):not([id]):not([property]) li {
    display: flex;
    align-items: center;
    white-space: normal;
}

ul:not([class]):not([id]):not([property]) li::before {
    content: '>_';
    padding-right: 8px;
}

/* blog post list */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
    margin-bottom: 10px;
}

i time {
    font-style: normal;
    opacity: 0.7;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}


ul.blog-posts li a:visited {
    color: var(--visited-color);
}

table {
    border-spacing: 0;
}

th,
td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
    font-size: 1em;
}

footer span:not([class]):not([id]):not([property]) {
    display: none;
}
